@import '../../Assets/styles/colors';

.Wrapper {
    &.user-login {
        display: flex;
        input {
            font-size: 1.3rem;
            font-weight: 600;
            color: #0283FF;
            border: 1px solid $off-white; 
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            overflow: auto;
            outline: none;
        }
        label {
            color: $primary-white;
            background-color: $secondary-blue;
            cursor: pointer;
            width: 5rem;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .login-btn {
            display: none;
        }
    }
}