@import '../../Assets/styles/colors';

.rooms {
  margin-bottom: 2rem;
  .type {
    font-size: 1rem;
    font-weight: 600;
  }
  .room {
    font-size: .8rem;
    padding-left: .5rem;
    margin: .5rem 0;
    .room-name {
      color: $dark-gray;
      text-decoration: none;
      border: none;
      cursor: pointer;
    }
  }
}