@import '../../Assets/styles/colors';

.rooms {
  margin-bottom: 2rem;
  .title-action {
    display: flex;
    justify-content: space-between;
    .type {
      font-size: 1rem;
      font-weight: 600;
      &.action {
        margin-right: 8px;
        color: $secondary-blue;
        cursor: pointer;
      }
    }
  }
  .room {
    font-size: .8rem;
    padding-left: .5rem;
    margin: .5rem 0;
    .room-name {
      color: $dark-gray;
      text-decoration: none;
      border: none;
      cursor: pointer;
    }
  }
}