@import '../../Assets/styles/colors';

.Wrapper {
    .chat-room {
        .list {
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            .msg {
                background-color: $off-white;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                margin-top: .2rem;
                &.left {
                    align-self: flex-start;
                    p:first-child {
                        font-size: .8rem;
                        margin-bottom: 0;
                        
                        color: $secondary-blue;
                    }
                }
                &.right {
                    background-color: $secondary-blue;
                    color: $primary-white;
                    align-self: flex-end;
                    p:first-child {
                        display: none;
                    }
                }
                p {
                    font-size: .9rem;
                    border-radius: 10px;
                    margin: .5rem;
                }
            }
        }
    }
}